*{
    padding:0; margin:0; box-sizing: border-box;
}
body{
    height: 100vh;
}
#container{
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

}

#container div{
    background-color: blue;
    height: 100px;
    width: 100px;
    margin: 0px 10px;
}

 @media (max-width:640px){
    #container div{
        margin-top: 20px;
    } 
} 

@media (max-width:400
px){
    #container div{
        width: 100%;
    } 
} 

    
